$font-color: black;
$secondary-font-color: #97B1E9;
$tab-color: #8CE1E5;
$primary-color-lite: rgba(182, 231, 255, .5);
$primary-color-liter: rgba(182, 231, 255, .2);
$secondary-color: #3AD455;
$tertiary-background: #204DAE;
$primary-background: #ebebeb;
$secondary-background: white;
$complimentary-color: #FFCE6D;
$opposite-color: #FF786D;

@mixin buttonHover {
  transform: scale(1.01);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.09);
}

*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: $primary-background;
}

.search-button{
  border: 0;
  border-radius: 2px;
  background: $secondary-font-color;
  color: white;
  font-size: 2.1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
  cursor: pointer;
  width: 15%;
  &:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.09);
  }
}

#new-customer-splash{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1), 0 24px 80px 0 rgba(0, 0, 0, 0.09);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 25vh;
  z-index: 100;
  h2{
    font-size: 3em;
    color: $tertiary-background;
    text-align: center;
  }
  form{
    color: $secondary-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label{
      font-size: 2em;
      font-weight: 100;
    }
    input{
      padding: 20px;
      margin: 15px;
      width: 50%;
    }
    button{
      background-color: $secondary-font-color;
      border: none;
      border-radius: 2px;
      padding: 20px;
      width: 50%;
    }
  }
}

/*--------------------Header--------------------*/



header{
  align-items: center;
  display: flex;
  height: 150px;;
  justify-content: space-between;
  margin: 1% 3.9%;
  .header-info-boxes{
    display: flex;
    justify-content: space-around;
    div{
      border-radius: 6px;
      background-color: $tab-color;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: 30px;
      padding: .8em;
      h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
      }
    }
  }
}

h1{
  display: flex;
  color: $tertiary-background;
  font-size: 4rem;
  font-weight: 100;
  transform:scale(1.05,1);
  svg{
      height: 90px;
      bottom: 7px;
      left: 192px;
      position: absolute;
      z-index: 0;
      fill: $tertiary-background;
    }
  span{
    font-family: 'Baloo Da', cursive;
    font-size: 2.5rem;
    top: 15px;
    position: relative;
    z-index: 100;
  }
}

@keyframes fadeInOut {
    0% {
        transform: scale(0);
        opacity: 0.1;
    }
    25%{
      transform: scale(1);
      opacity: .3;
    }
    50% {
        transform: scale(3);
        opacity: .5;
    }
    75% {
      transform: scale(2);
      opacity: .7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.scale-animation{
  animation-name: fadeInOut;
  animation-duration: .75s;
  animation-timing-function: linear;
  transition: all .75s ease-in-out;
}

/*--------------------Tabs--------------------*/



.container{
  margin: 0 auto;
  height: 85vh;
  padding: 0px 10px;
	width: 95%;
}
ul.tabs{
  display: flex;
  margin: 0;
  margin-bottom: -1px;
  height: 60px;
  justify-content: space-around;
	list-style: none;
	padding: 0;
}
ul.tabs li{
  background: none;
  border-radius: 6px 6px 0px 0px;
  color: $font-color;
  height: 60px;
  padding: 10px 15px;
  width: 25%;
  cursor: pointer;
  span{
    margin: 0px 15px;
    display: none;
  }
  img{
    height: 40px;
    width: 40px;
  }
  &:hover{
    background-color: $primary-color-lite;
  }
}
ul.tabs li.current{
	background: $tab-color;
	color: $font-color;
}
.tab-content{
	display: none;
  background: $tab-color;
  height: 70vh;
}
.tab-content.current{
  display: flex;
  flex-direction: column;
  
}
.tab-link{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*-----------------Main------------------*/



.main{
  padding: 10px 10px 0px 10px;
  article{
    background-color: $secondary-background;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 31%;
    .money-text{
      color: $secondary-color;
    }
    h3{
      color: $secondary-font-color;
      font-size: 2.7em;
      font-weight: 100;
      margin: 15px;
      padding: 0;
    }
    p{
      color: $opposite-color;
      font-size: 6em;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
  }
}

article.rooms-available{
  P{
      color: $complimentary-color;
  }
}


/*-----------------Orders------------------*/




.orders{
  padding: 20px;
  article{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.order-history{
  display: flex;
  flex-direction: column;
  .no-info-message{
    font-size: 2.5rem;
    color: white;
    margin: 200px 30px;
  }
}


article.orders-total{
  display: none;
  background-color: $secondary-background;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  color: $secondary-font-color;
  font-size: 2em;
  flex-direction: row;
  height: 120px;
  margin: 15px 10px;
  padding: 0;
    p{
      color: $secondary-color;
      font-size: 2.5em;
      font-weight: 100;
      margin-left: 30px;
    }
}

article.date-search{
  align-self: center;
  form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $secondary-font-color;
    font-size: 2rem;
    margin: 20px 10px;
    width: 100%;
    input{
      background-color: white;
      border-radius: 2px;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      min-height: 3rem;
      min-width: 25%
    }
    button{
      border: 0;
      border-radius: 2px;
      background: $secondary-font-color;
      color: white;
      font-size: 2.1rem;
      line-height: 1.2;
      white-space: nowrap;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      margin: 0;
      cursor: pointer;
      width: 15%;
      &:hover{
        transform: scale(1.01);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.09);
      }
    }
  }
  p{
    font-size: 2.5em;
    margin-right: 20px;
  }
  select{
    appearance: none;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	  border-radius: 2px;
	  background-color: #fff;
    font-size: 2em;
    height: 70px;
    &:hover{
      @include buttonHover;
    }
    option{
      margin:auto;
    }
    &:hover{
	    border-color: #888;
    }
  }
}

article.order-history{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: flex-start;
  height: 80%;
  div{
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: $primary-background;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin: 9px 20px;
    width: 90%;
    .order-history-date{
      color: $tertiary-background;
    }
    .order-history-amount{
      color: #00A81D;
    }
  }
}



/*-----------------Rooms------------------*/




.rooms{
  padding: 20px;
  article{
    background-color: $secondary-background;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 48%;
    h3{
      color: $secondary-font-color;
      font-size: 4em;
      font-weight: 100;
      margin: 15px;
      padding: 0;
    }
    p{
      color: $tertiary-background;
      font-size: 6em;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }
  }
}

article.room-type-select{
  display: none;
  flex-direction: row;
  select{
    margin-left: 30px;
    height: 20px;
  }
}

article.most-popular-date{
  p{
    color: $opposite-color;
  }
}

article.most-available-date{
  p{
    color: $complimentary-color;
  }
}
/*-----------------Customer------------------*/



.customer{
  align-items: center;
  color: $secondary-font-color;
  form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    margin: 20px 10px;
    width: 100%;
    input{
      height: 3rem;
      width: 50%;
    }
  }
}

.search-bar{
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: $primary-background;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  margin: 35px 0px;
  padding: 10px;
  width: 93%;
}

#create-new-guest-btn{
  display: inline-block;
  border-radius: 2px;
  background-color: $secondary-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 93%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0px;
  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;  
  &:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
  }
}

#create-new-guest-btn:hover span {
  padding-right: 25px;
}

#create-new-guest-btn:hover span:after {
  opacity: 1;
  right: 0;
}

article.customer-user-results{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  height: 77%;
  width: 95%;
  div{
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: $primary-background;
    display: flex;
    font-size: 2em;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    min-height: 80px;
    margin: 9px 20px;
    padding: 0px 40px;
    width: 90%;
    &:hover{
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.09);
    }
    &:active{
      background-color: $secondary-color;
    }
    .append-block-left{
      color: $tertiary-background;
    }
    .append-block-right{
      color: $tertiary-background;
    }
  }
}


/*-----------------Footer------------------*/



footer{
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: .5em;
  width: 90%;
}



/*-----------------Breakpoints------------------*/



@media only screen and (min-width: 450px) {
  .tab-content{
    background: $tab-color;
    height: 100vh;
  }

  #new-customer-splash{
    border: solid 1px $secondary-font-color;
    padding-top: 7%;
    height: 50vh;
    form{
      label{
        font-size: 2em;
        font-weight: 100;
      }
    }
  }

}

@media only screen and (min-width: 1000px) {
  ul.tabs li{
    span{
      display: flex;
    }
    img{
      height: 40px;
      width: 40px;
    }
  }

  .container{
    margin: 0 auto;
    height: 100vh;
    padding: 0px 10px;
    width: 95%;
  }

  .tab-content{
    background: $tab-color;
    height: 100vh;
  }

  .main{
    article{
      h3{
        font-size: 1.5rem;
      }
      p{
        font-size: 2.5rem;
      }
    }
  }

  article.date-search{
    width: 50%;
    form{
      justify-content: center;
      label{
        font-size: 1.5rem;
        font-weight: 400;
        margin-right: 30px;
      }
      input{
        background-color: white;
        border-radius: 2px;
        border: none;
        outline: none;
        margin-right: 30px;
      }
    }
  }

  .order-history{
    .no-info-message{
      font-size: 1.5rem;
      color: white;
      margin: 200px 30px;
    }
  }

  .rooms{
    article{
      h3{
        font-size: 1.5em;
        font-weight: 100;
      }
      p{
        font-size: 2.5em;
        font-weight: 400;
      }
    }
  }

  .customer{
    padding: 20px;
  }

  .search-bar{
    margin: 35px 0px;
    width: 50%;
    label{
      font-size: 1.5rem;
    }
    input{
      border: none;
      outline: none;
      width: 40%;
    }
  }

  #create-new-guest-btn{
    width: 50%;
  }

  #new-customer-splash{
    border: solid 1px $secondary-font-color;
    padding-top: 7%;
    height: 70vh;
    form{
      label{
        font-size: 2em;
        font-weight: 100;
      }
    }
  }
}